.MyClass {
    background-color: #F3F3F3;
    width: 100%;
    height: 96%;
    border-radius: 10px;
    border: 2px solid rgb(187, 187, 187);
    /* padding: 20px; */
    position: relative;
    /* overflow-y: hidden; */
}


.outlinea {
    color: #2c25ff;
    font-size: 30px;
    margin-left: 20px;
    /* margin-bottom: 20px; */
}

.outlinetren {
    margin-top: 15px;
    margin-bottom: 20px;
    /* background-color: #2c25ff; */
}

.boxoutline {
    margin-left: 15px;
    /* left: 50%;
    transform: translate(-50%, 0); */
    /* position: absolute; */
    border: 2px solid rgb(187, 187, 187);
    background-color: white;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.2);
    /* padding: 10px; */
    width: 98%;
    border-radius: 8px;
}

.titleoutline {
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hinhtron {
    background-color: #F3F3F3;
    border: 2px solid rgb(187, 187, 187);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;

}

.lineoutline {
    width: 90%;
    height: 2px;
    background-color: rgb(161, 161, 161);
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.add {
    user-select: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #3B61CB;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 0); 
    position: absolute;
    left: 50%;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.add:hover {
    transform: translateX(-50%) scale(0.95);
}

.outhigh {
    color: #3B61CB;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
}

.trashs {
    width: 20px;
    height: 20px;
    object-fit: contain;
    left: 93%;
    transform: translate(-50%, 0); 
    position: absolute;
    cursor: pointer;
}

.outlinename {
    cursor: pointer;
    /* width: 90%; */
}

.outlinename:hover {
    color: #0a183f; 
    transition: color 0.3s ease;
}

.outlinetext.move {
    /* background-color: #ffffff; */
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(187, 187, 187); */
    /* border: 2px solid rgb(187, 187, 187); */
    /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2); */
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);     
    z-index: 100;

}

.hinttitle {
    background-color: white;
    color: #3B61CB;
    width: 98.3%;
    height: 3%;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

.hint {
    background-color: #ffffff;
    color: black;
    width: 98.3%;
    height: 85%;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

.outoutline{
    background-color: rgb(129, 15, 15);   
    margin-right: 20px; 
}

.submitoutline{
    background-color: #3B61CB;
}
.buttoninoutline {
    background-color: #ffffff;
    width: 100%;
}

.addsubject.moveon {
    width: 900px;
    height: 50px;
    /* background-color: #ffffff;
    border: 2px solid rgb(187, 187, 187); */
    border-radius: 10px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);     
    z-index: 100;
    display: flex;
    align-items: center;
}

.newSub_input {
    height: 100%;
    width: 75%;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.oksubject.moveon {
    height: 100%;
    width: 10%;
    background-color: #3B61CB;
}

.cancelsub.moveon {
    margin-right: 20px;
    height: 100%;
    width: 10%;
    background-color: #aa1515;
}