.MyStudy {
    background-color: #F3F3F3;
    width: 100%;
    height: 96%;
    border-radius: 10px;
    border: 2px solid rgb(187, 187, 187);
    position: relative;
}

.myoutline.move {
    /* background-color: #ffffff; */

    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(187, 187, 187); */
    /* border: 2px solid rgb(187, 187, 187); */
    /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);     
    z-index: 100;
}

.myclassstudyin {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    width: 98.3%;
    height: 90.5%;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 10px;
    color: black;
    white-space: pre-wrap;
}

.buttoncal {
    background-color: rgb(110, 1, 1);
}