.study {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  border-radius: 10px;
}

.study > div {
  flex: 0 0 calc(33.333% - 20px); /* 3 phần tử trên 1 hàng */
  box-sizing: border-box;
}

.ex {
    width: 460px;
    height: 118px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0f1d44cb;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.1s ease;
    color: #003adb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}
.hsdhaid {
    color: black;
}
.link {
    width: 490px;
}

.Dangkymoi {
    background-color: #3B61CB;
    border-radius: 10px;
    height: 88px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #0f1d44cb;
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 8px;
    position: relative;
    cursor: pointer;
    transition: transform 0.1s ease;
}


.Dangkymoi:hover, .ex:hover {
    transform: scale(0.95);
}

.dautron {  
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    color: #3B61CB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.chuviet {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}