.User_management {
    width: 100%;
    height: 93%;
    position: relative;
    /* overflow: hidden; */
}

.titleuser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 5px;
    margin-top: 20px;
    margin-left: 30px;
    width: 95%;
    height: 25px;
}

.iduser {
    width: 295px;
}

.fulnameuser {
    width: 905px;
}

.oneapply {
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 6px;
    color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.1s ease;
    cursor: pointer;
}

.oneapply:hover {
    transform: scale(0.99);
}

.iduserfen {
    margin-left: 10px;
    width: 300px;
}

.nameuser {
    width: 900px;
}

.inforuser, .tkbuser, .feedback, .feedbackme {
    height: 35px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #1d1d1d;
    border: 2px solid black;
}
.infors.move {
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: #ffffff;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 10px;
    overflow-y: auto;
}
.inforuser.active-tab, 
.tkbuser.active-tab,
.feedback.active-tab,
.feedbackme.active-tab {
    background-color: #1d1d1d; 
    color: #ffffff; 
    border-color: #1d1d1d; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.tabtkb, .tabuser, .tabfeedback, .tabfeedbackme {
    display: none;
}

.tabuser.active-tab, .tabfeedback.active-tab {
    display: block;
    color: #1d1d1d;
}

.tabtkb.active-tab, .tabfeedbackme.active-tab {
    display: block;
    color: #1d1d1d;
}



.buttoninthemout {
    background-color: rgb(133, 3, 3);
    color: white;
    height: 35px;
    font-size: 12px;
    margin-left: 20px;
    /* box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); */
    position: fixed; 
    top: 20px;      
    right: 50px;       
    z-index: 10;
}

.boxtkbuser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
    margin-left: 45px;
}

.boxtkbusers {
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.monhocuser, .ngayuser, .tiethocuser, .diadiemuser, .tuanhocuser {
    background-color: #e4e4e4;
    padding-left: 5px;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 1px solid rgb(139, 139, 139);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.monhocusers, .ngayusers, .tiethocusers, .diadiemusers, .tuanhocusers {
    background-color: #ffffff;
    /* padding: 5px; */
    padding-left: 5px;
    margin-right: 1px;
    border: 1px solid rgb(139, 139, 139);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.monhocuser, .monhocusers {
    width: 300px;
}
.ngayuser, .ngayusers {
    width: 150px;
}
.tiethocuser, .tiethocusers {
    width: 300px;
}
.diadiemuser, .diadiemusers {
    width: 350px;
}
.tuanhocuser, .tuanhocusers {
    width: 250px;
}